#page-report-linkvalidator-index td.title {text-align:right;}
#page-report-linkvalidator-index tr.url {text-align: center;}
#page-report-linkvalidator-index tr.section {text-align: left; font-size:0.9em;}
#page-report-linkvalidator-index td.result {font-size: 0.9em;}


#page-report-linkvalidator-user .section .content {margin-left: 30px;margin-right: 30px;}
#page-report-linkvalidator-user .section h2 {margin-top: 0;}
#page-report-linkvalidator-user .section {margin-left: 30px;margin-right: 30px;margin-bottom: 20px;}
#page-report-linkvalidator-user .section {border-width:1px;border-style:solid;padding:10px;}

.path-report-linkvalidator #linkvalidator {
    table-layout:fixed;
    width:100%;
}
.path-report-linkvalidator #linkvalidator thead th:first-child {
    width: 150px;
}
.path-report-linkvalidator #linkvalidator tbody td.activity.cell {
    word-wrap: break-word;
}
.path-report-linkvalidator #linkvalidator thead th:last-child {
    width: 165px;
}
.path-report-linkvalidator #linkvalidator tbody td.url.cell {
    overflow-x: scroll;
    font-size: 0.9em;
    border-bottom:0px;
}
.path-report-linkvalidator #linkvalidator tbody td.url.cell .no-break {
    white-space: nowrap;
}